<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <!-- 
    <add assembly="Dst.Trader.NLog.Target"/>
    -->
  </extensions>

  <targets>
    <target name="info" xsi:type="File" fileName="${basedir}/log/${shortdate} Info.txt" layout="${longdate}|${level}|${message}" />
    <target name="error" xsi:type="File" fileName="${basedir}/log/${shortdate} Error.txt" layout="${counter}|${longdate}|${level}|${message}${newline} |${guid}|${callsite:fileName=true}${newline} |${stacktrace:format=DetailedFlat:topFrames=3}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>